<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <flashalert>
            <general>
                <enabled>1</enabled>
            </general>
            <design>
                <background_color>#FF0000</background_color>
                <text_color>#FFFFFF</text_color>
                <font_size>16</font_size>
                <border_radius>4</border_radius>
            </design>
        </flashalert>
    </default>
</config>
